<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Metal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item *ngFor="let metales of metales"  >
        <ion-label>
            <ion-grid>
          <p> <strong> Cantidad (Kilos): </strong> {{metales.kilos}} </p>
          <p> <strong > Dia: </strong> {{metales.dia}} </p>
          <p> <strong > Fecha de ingreso: </strong> {{metales.fecha_ingreso}} </p>
        </ion-grid>
        </ion-label>
    </ion-item>
    <ion-button ion-button expand = "small" type="submit"  color="secondary" (click)="goEliminarPlastico()">Borrar Datos </ion-button>  
    
</ion-content>
