<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Metal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let metales of metales">
        <ion-label>
            <h4><strong>{{metales.dia}}</strong></h4>
            <h4><strong>Kilos :</strong>{{metales.kilos}}</h4>
            <h3><strong>Fecha de ingreso :</strong>{{metales.fecha_ingreso}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
        <ion-button color="danger" size="small" routerLink='/grafico'>Volver</ion-button>
      </ion-content>


