<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Ver Plasticos</ion-title>
  </ion-toolbar>
  
  
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let datosplasticos of datosplasticos">
      <ion-label>
          <h4><strong>{{datosplasticos.dia}}</strong></h4>
          <h4>{{datosplasticos.cantidad}}</h4>
          <h3>{{datosplasticos.fecha}}</h3>
      </ion-label>
      <ion-button color="medium  " size="small" (click)="goEliminarplastico(datosplasticos.id)">Borrar</ion-button>
      
    </ion-item>
</ion-list>
<ion-button color="primary" size="small" routerLink='/grafico'>Volver</ion-button>
</ion-content>